<footer>
    <div>
        <span>Trabajo fin de Grado 2016. Authors: <a href="mailto:jjfelipesal@gmail.com">Jos&eacute; Javier Felipe Salmoral</a>  & <a href="mailto:rmiguelrivero@gmail.com">Miguel Rivero</a></span>
    </div>
</footer>