<div class="wrapper">
	<nav class="blue darken-2">
		<div class="nav-wrapper">
			<a href="#!" class="brand-logo">{{ fileName }}</a>
			<!-- <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a> -->
			<ul class="right" *ngIf="user" >
				<!--<li><a href="#"><i class="material-icons">search</i></a></li>-->
				<!--<li><a href="#"><i class="material-icons">search</i></a></li>-->
				<!--<li><img src="/img/apple.png" class="left circle icon-32"></img></li>-->
				<li>
					<!--<div class="chip">-->
						<!--<img src="{{ user.picture }}" alt="Contact Person">-->
						<!--{{ user.displayName }}-->
					<!--</div>-->

					<div class="user-wrapper">
						<span class="user-info hide-on-med-and-down">
							{{ user.email }}
						</span>
						<img src="{{ user.picture }}" alt="Contact Person">
					</div>
				</li>
			</ul>
			<!--<ul class="side-nav" id="mobile-demo">-->
				<!--<li><a href="#">Mobile</a></li>-->
			<!--</ul>-->
		</div>
	</nav>

	<tabs *ngIf="loaded &&
	             extensions != null &&
	             extensions?.length > 0 &&
	             selectedFormat != null"
	      [tabs]="extensions"
	      [selectedFormat]='selectedFormat'
	      (changeTab)="changeSelectedFormatEvent($event)"></tabs>
</div>

<div class="progress light-blue" style="margin:0;" *ngIf="!loaded">
	<div class="indeterminate white"></div>
</div>

<editor [id]="fileId"
        [config] = "configuration"
        [format]="selectedFormat"
        [language]='languageSettings'
        (fileExtension)="extensionSelectedEvent($event)"
		(fileNameChange)="fileNameChangedEvent($event)"></editor>
<!--<div id="editor"></div>-->