<div class="row blue" id="toolbar">
	<div class="col s8">&nbsp;</div>
	<div class="col s4 right blue">
		<ul class="tabs">
			<li *ngFor="#tab of tabs"  (click)="selecTab(tab)" class="tab col s2 blue"><a href="#{{ tab }}">{{ tab }}</a></li>
			<!--<li class="tab col s6 light-blue"><a href="#" class="active">qwerty</a></li>-->
			<!--<li class="tab col s6 light-blue"><a href="#">asdfd</a></li>-->
		</ul>
		<div *ngFor="#tab of tabs" id="{{ tab }}" class="col s12" style="display: none;"></div>
	</div>
</div>