@import "normalize";
@import "mixins";
@import "theme";
@import "global";

html, body {
  height: 100%;
}
body{
  font-size: @fontSize;
  margin: 0 auto;
  font-family: @fontFamily;
}
h1 {
  color: @naviblue;
}
#editor {
  position: relative;
  height: ~"calc(100% - 64px)";
}

nav {
  .nav-wrapper > a{
    color: #ffffff;
  }
  img{
    .vertical-align()
  }
}
#loader{
    .vertical-align();
    text-align: center;
    display: block;
    width: 100%;
    height: 100%;
}

