// Colours
@skyblue : #eaf4f8;
@lightblue : #00a1e0;
@darkblue : #0085cb;
@lightgreen : #83be00;
@naviblue : #004669;
@darkgreen : #71a500;
@white : #fff;

// Font
@fontSize: 14px;
@fontFamily: Helvetica, Arial;
@fontColour: #000;

@linkColour: #07acae;
@iconColour: #0376ee;